/* Restablecer estilos predeterminados */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Importar fuente 'Poppins' */
@font-face {
    font-family: 'Poppins';
    src: url("fonts/Poppins-Regular.tff");
}

/* Responsive (adaptarse a dispositivos móviles) */
@media (max-width: 768px) {
    .contenedor-cabecera {
        flex-direction: column; /* Apila el logo y el menú verticalmente */
        align-items: flex-start; /* Alinea el logo y el menú a la izquierda */
        background-color: none;
    }

    .menu-principal {
        margin-top: 10px; /* Añade espacio entre el logo y el menú */
    }

    .menu-principal li {
        margin-right: 0; /* Elimina el margen derecho entre elementos del menú */
    }
}

/* Contenedores de contenido */
.contenedor {
    width: 100%;
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
    background-color: whitesmoke;
    display: flex; /* Habilitar flexbox */
    flex-direction: column; /* Ordenar elementos en columna */
    align-items: center ; /* Alinear horizontalmente al centro */
    justify-content: center; /* Alinear verticalmente al centro */
}

/* Contenedor principal */
.contenedor-principal {
    width: 100%;
    margin: 0 auto;
    font-family: "Poppins",'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: whitesmoke ; /* Dark green background */
    min-height: 100vh; /* Altura mínima del contenedor */
    display: flex; /* Habilitar flexbox */
}

/* Contenedor izquierda */
.contenedor-izquierda {
    width: 50%; /* Ancho del contenedor izquierdo */
    padding: 20px;
}

/* Contenedor derecha */
.contenedor-derecha {
    width: 50%; /* Ancho del contenedor derecho */
    padding: 20px;
}

/* Títulos dentro de los contenedores */
.contenedor-izquierda h1, .contenedor-izquierda h2, .contenedor-izquierda h3
.contenedor-derecha h1, .contenedor-derecha h2, .contenedor-derecha h3 {
    text-align: center;
}

/* Párrafos dentro de los contenedores */
.contenedor-izquierda p, .contenedor-derecha p {
    text-align: left; /* Alineación de párrafos a la izquierda */
}

/* Imágenes dentro de los contenedores */
.contenedor-izquierda img, .contenedor-derecha img {
    max-width: 100%; /* Ajustar ancho de imágenes al contenedor */
    height: auto; /* Mantener relación de aspecto de las imágenes */
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
    .contenedor-principal {
        flex-direction: column; /* Apilar contenedores verticalmente */
    }

    .contenedor-izquierda, .contenedor-derecha {
        width: 100%; /* Ancho completo para cada contenedor */
        margin-bottom: 20px; /* Espacio entre contenedores */
    }
}

/* Títulos */
h1, h2 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 5%;
}

h1 {
    font-size: 2.5em;
    font-weight: 900;
}

h2 {
    font-size: 1.5em;
    font-weight: 700;
}

h3 {
    font-size: 1.5em;
    font-weight: 500;
}

h4 {
    font-size: 1.5em;
    font-weight: 300;
}

/* Párrafos */
p {
    text-align: justify;
    line-height: 1.6;
    font-family: "Poppins",sans-serif;
}

a {
    color:#017a33;
}

a:hover {
    color:#bd80a4;
}

/* Imágenes */
.img {
    max-width: 500px;
    height: auto;
}

.img-small {
    max-width: 100px;
    height: auto;
}

/* Cabecera */
.cabecera {
    background-color: #017a33; 
    color: #bd80a4;
    padding: 20px 0;
}

.contenedor-cabecera {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex; /* Permite que el logo y el menú estén en línea */
    justify-content: space-between; /* Distribuye los elementos horizontalmente */
    align-items: center; /* Alinea los elementos verticalmente */
}

.logo {
    text-decoration: none;
    font-size: 1.6em;
    max-width: 30px;
    height: auto;
}

.menu-principal {
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: "Poppins",sans-serif;
}

.menu-principal ul {
    margin: 0;
    padding: 0;
}

.menu-principal li {
    display: inline-block;
    margin-right: 20px;
}

.menu-principal a {
    text-decoration: none;
    color: white; /* Color de los enlaces del menú */
    font-size: 1em;
}

.menu-principal a:hover {
    color: #bd80a4; /* Color de los enlaces al pasar el cursor */
}

/* Formulario */
form {
    margin-bottom: 40px;
    font-family: "Poppins";
}

label {
    display: block;
    margin-bottom: 5px;

}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #017a33;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 2%;
    margin-bottom: 10%;
}

option {
    font-family: 'Poppins';
}

button[type="submit"] {
    background-color: #017a33;
    color: #bd80a4;
    margin-top: 3%;
    margin-left: 0%;
    margin-bottom: 20%;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover{
    background-color: #bd80a4;
    color: #017a33;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Poppins';

}

/* Tabla */
table {
    width: 80%; /* Ancho de la tabla */
    max-width: 1000px; /* Ancho máximo de la tabla */
    margin: 40px auto; /* Margen superior e inferior de 40px, centrada horizontalmente */
    border-collapse: collapse;
    font-family: 'Poppins';
}

th, td {
    padding: 8px;
    border: 1px solid #bd80a4;
    text-align: left;
}

th {
    background-color: #7a0148;
    color: whitesmoke;
    font-family: 'Poppins';
}

.detalles {
    border: 1px transparent;
    background-color: whitesmoke;
    text-align: center;
}

.tiempo {
    text-decoration: none;
    font-size: 1.6em;
    width: 20%;
    height: auto;
}

/* Pie de página */
.pie-de-pagina {
    position: auto;
    width: 100%;
    color: white;
    background-color: #7a0148;
    padding: 20px 0;
    text-align: center;
}

.contenedor-pie {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}
