{% extends "base.html" %}
{% block title %}Horarios{% endblock %}
{% block content %}
<section class="contenedor">
<h1>{{nombre}}</h1>
</section>
<section class="contenedor-principal">
<div class="contenedor-derecha">
    <h1>Paradas</h1>
    <table>
        <thead>
            <tr>
            <th>Paradas</th>
            </tr>
        </thead>
    {% for parada in paradas %}
    <tr>
    <td><a href="/parada?consorcio={{consorcio}}&parada={{parada.id}}&fecha={{fecha}}">{{parada.nombre}}</a></td>
    </tr>
    {% endfor -%}
    </table>
</div>
<div class="contenedor-izquierda">
    <h1>Horarios</h1>
    {% if error %}
    <p>No hay horarios disponibles en la fecha seleccionada.</p>
    {% else %}
        <table>
            <thead>
                <tr>
                    {% if idalv %}
                    <th>Lunes a viernes</th>
                    {% endif %}
                    {% if idafs %}
                    <th>Fines de semana</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody> 
            {% if idalv %}
                {% for hora in idalv %}
                    <tr>
                    <td>{{hora}}</td>
                    </tr>
                {% endfor -%}
            {% endif %}
            {% if idafs %}
                {% for hora in idafs %}
                    <tr>
                    <td>{{hora}}</td>
                    </tr>
                {% endfor -%}
            {% endif %}
            </tbody>
        </table>
    {% endif %}
</div>
</section>
<section class="contenedor">
    {% if noticias %}
    <h1>Avisos</h1>
        {% for noticia in noticias %}
        <h2>{{noticia.categoria}}</h2>
        <h3>{{noticia.titulo}}</h3>
        <p>{{noticia.resumen}}</p>
        {% endfor -%}
    {% endif %}
</section>
{% endblock %}