{% extends "base.html" %}
{% block title %}Horarios{% endblock %}
{% block content %}
<section class="contenedor">
    <h1>Paradas</h1>
    <table>
        <thead>
            <tr>
            <th>Paradas</th>
            </tr>
        </thead>
    {% for parada in paradas %}
    <tr>
    <td>{{parada.nombre}}</td>
    </tr>
    {% endfor -%}
    </table>
    <h1>Horarios</h1>
    {% if error %}
    <p>No hay horarios disponibles en la fecha seleccinada.</p>
    {% else %}
        <table>
            <thead>
                <tr>
                    {% if idalv %}
                    <th>Lunes a viernes</th>
                    {% endif %}
                    {% if idafs %}
                    <th>Fines de semana</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody> 
            {% if idalv %}
                {% for franja in idalv %}
                    {% for hora in franja %}
                        <tr>
                        <td>{{hora}}</td>
                        </tr>
                    {% endfor -%}
                {% endfor -%}
            {% endif %}
            {% if idafs %}
                {% for franja in idafs %}
                    {% for hora in franja %}
                        <tr>
                        <td>{{hora}}</td>
                        </tr>
                    {% endfor -%}
                {% endfor -%}
            {% endif %}
            </tbody>
        </table>
    {% endif %}
    {% if noticias %}
    <h1>Avisos</h1>
        {% for noticia in noticias %}
        <h2>{{noticia.categoria}}</h2>
        <h3>{{noticia.titulo}}</h3>
        <p>{{noticia.resumen}}</p>
        {% endfor -%}
    {% endif %}
</section>
{% endblock %}