{% extends "base.html" %}
{% block title %}Líneas{% endblock %}
{% block content %}
<section class="contenedor">
    <h2>Líneas</h2>
        <table>
            <thead>
                <tr>
                    <th>Línea</th>
                    <th>Medio de transporte</th>
                </tr>
            </thead>
            <tbody>
                    {% for elemento in lista %}
                <tr>
                    <td><a href="/horarios?consorcio={{consorcio}}&?linea={{elemento.id}}&?fecha={{fecha}}">{{elemento.nombre}}</a></td>
                    <td>{{elemento.modo}}</td>
                </tr>
                    {% endfor -%}
            </tbody>
        </table>
</section>
{% endblock %}