{% extends "base.html" %}
{% block title %}Líneas{% endblock %}
{% block content %}
<section class="contenedor-principal">
<div class="contenedor-izquierda">
    <h2>Líneas</h2>
        <table>
            <thead>
                <tr>
                    <th>Línea</th>
                    <th>Medio de transporte</th>
                </tr>
            </thead>
            <tbody>
                    {% for elemento in lista %}
                <tr>
                    <td><a href="/horarios?consorcio={{consorcio}}&linea={{elemento.id}}&fecha={{fecha}}">{{elemento.nombre}}</a></td>
                    <td>{{elemento.modo}}</td>
                </tr>
                    {% endfor -%}
            </tbody>
        </table>
</div>
<div class="contenedor-derecha">
    <h2>Paradas</h2>
        <table>
            <thead>
                <tr>
                    <th>Nº Parada</th>
                    <th>Nombre</th>
                </tr>
            </thead>
            <tbody>
                    {% for parada in paradas %}
                <tr>
                    <td><a href="/parada?consorcio={{consorcio}}&parada={{parada.id}}&fecha={{fecha}}">{{parada.id}}</a></td>
                    <td>{{parada.nombre}}</td>
                </tr>
                    {% endfor -%}
            </tbody>
        </table>
</div>
</section>
{% endblock %}