{% extends "base.html" %}
{% block title %}Horarios{% endblock %}
{% block content %}
<section class="contenedor">
    <h1>{{parada.nombre}}</h1>
    <table>
        <thead>
            <tr>
            <th>Parada</th>
            <th>Municipio</th>
            <th>Zona</th>
            </tr>
        </thead>
        <tr>
        <td>{{parada.nombre}}</td>
        <td>{{parada.municipio}}</td>
        <td>{{parada.idZona}}</td>
        </tr>
    </table>
</section>
<section class="contenedor-principal">
    <div class="contenedor-izquierda">
    <h3>{{dia}}/{{mes}}/{{year}} - {{hora}}</h3>
    <table>
        <thead>
            <tr>
            <th>Línea</th>
            <th>Destino</th>
            <th>Próximo bus</th>
            </tr>
        </thead>
        {% for servicio in servicios %}
        <tr>
        <td>{{servicio.nombre}}</td>
        <td>{{servicio.destino}}</td>
        <td>{{servicio.servicio}}</td>
        </tr>
        {% endfor -%}
    </table>
    </div>
    <div class="contenedor-derecha">
    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox={{parada.longitud}}%2C{{parada.latitud}}&amp;layer=mapnik"></iframe>
    {% if meteo.prevision == "lluvia" %}
        <p>No te olivdes el paraguas, parece que va a llover.</p>
        <img src="static/images/rain.gif">
    {% elif meteo.prevision == "calor" %}
        <br>
        <img class="tiempo" src="static/images/hot.gif">
        <p>Parece que hará calor. Bebe mucha agua.</p>
    {% elif meteo.prevision == "frío" %}
        <p>Será un día frío. Coge algo de abrigo.</p>
        <img src="static/images/cold.gif">
    {% elif meteo.prevision == "bueno" %}
        <p>Hará un tiempo estupendo. Disfruta el viaje.</p>
        <img class="tiempo" src="static/images/sun.gif">
    {% endif %}
    <p>Consulta la <a href="{{meteo.link}}">previsión completa del tiempo</a></p>
    </div>
</section>
{% endblock %}